doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Forgot Password
    link(rel="stylesheet", href="/css/forgot-password.css")
  body
  
    .container
      if successMessage
        .alert.alert-success= successMessage
      if errorMessage
        .alert.alert-danger= errorMessage
      h1 Forgot Password
      form(action="/forgot-password" method="POST")
        label(for="email") Email:
        input(type="email" name="email" id="email" required)
        button(type="submit") Send Reset Link
        a(href="/login") Back to login
        img(src="/images/spy_codebreakLogo.png" alt="Spy Theme")