doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Reset Password
    link(rel="stylesheet" href="/css/reset-password.css")
  body
    .container
      if successMessage
        .alert.alert-success= successMessage
      if errorMessage
        .alert.alert-danger= errorMessage
      h1 Reset Password
      form(action=`/reset-password/${token}` method="POST")
        label(for="password") New Password:
        input(type="password" name="password" required)
        label(for="confirmPassword") Confirm New Password:
        input(type="password" name="confirmPassword" required)
        button(type="submit") Reset Password
        a(href="/login") Back to login
